<p id="notice"><%= notice %></p>

<h1>Showing category</h1>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h3>Add a new product:</h3>
<div class="well">
  <%= render 'products/form' %>
</div>

<h3>List of products:</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <% @category.products.each do |product| %>
  <tbody>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Destroy',
                      category_product_path(@category, product),
                      class:'btn btn-danger',
                      method: :delete %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
